    table {
        width: 100%;
        .mat-header-row {
            background: #e9e9e9;
            .mat-header-cell {
                font-size: 14px;
                font-weight: 500;
                color: #4a4a4a;
            }
        }
        .action-btn {
            text-align: center;
            a {
                font-size: 1.2rem;
                color: #0c3868b5;
                margin: 0px 10px;
                padding: 0px 5px;
            }
        }
    }
    .mat-form-field {
        font-size: 14px;
        width: 100%;
      }