.toolbar {
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #00244b;
    color: white;
    font-weight: 500;
    font-size: 16px;;
    img {
        margin: 0 16px;
    }
}