
  .toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    // background-color: #1976d2;
    color: white;
    font-weight: 600;
      nav {
        margin-left: 10px;
        a {
          color: #22384e;
          text-decoration: none;
          padding: 0px 5px;
      }
      }
  }

  .toolbar img {
    margin: 0 16px;
  }
  .content {
    margin-top: 6em;
}

@mixin size($width, $height: null) {
	width: $width;
	height: if($height==null, $width, $height);
}

.theme-selectors-container{
	width: 190px;
	margin: 0 8px;
}

button.theme-selector {
	@include size(80px);
}

div.theme-primary {
	@include size(70px);
	border-radius: 50%;
}

div.theme-accent {
	@include size(25px);
	position: absolute;
	bottom: 0;
	left: 0;
}

div.theme-warn {
	@include size(15px);
	position: absolute;
	bottom: 7%;
	left: 20%;
	transform: rotate(45deg);
}

.theme-check {
	color: white;
	font-size: 3.2em;
}
.theme-selector-is-dark {
	font-weight: bold;
	font-size: 1.2em;
}
.center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}